.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.registerLeft,
.registerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.regiserLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}
.regiserDesc {
  font-size: 24px;
}
.registerBox {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 16px;
  transition: border 0.3s ease;
}
.registerInput:focus {
  outline: none;
  border: 1px solid #1775ee;
}
.loginButton1 {
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #1775ee;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}
.loginButton1:hover {
  background-color: #1164ce;
}
.loginButton1:disabled {
  cursor: not-allowed;
}
.loginButton2 {
  text-decoration: underline;
  cursor: pointer;
  color: gray;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
