.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}
.loginDesc {
  font-size: 24px;
}
.loginBox {
  height: max-content;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.loginInput {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #1c1e21; /* Use a dark color for typed text */
}

.loginInput::placeholder {
  color: gray;
  opacity: 0.7;
}

.loginInput:focus {
  outline: none;
  border: 1px solid grey;
}
.loginButton {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #1775ee;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.loginButton:hover {
  outline: none;
  background-color: #1164ce;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.loginButton:disabled {
  cursor: not-allowed;
}
.loginForgotContainer {
  display: flex;
  justify-content: flex-end; /* Aligns the link to the right */
  width: 100%;
}

.loginLink {
  color: #1775ee;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  /* Now the cursor:pointer only applies to the text width */
}

.loginLink:hover {
  color: #1164ce;
}
.loginError {
  color: red;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}
.messageContainer {
  min-height: 20px; /* Adjust based on your font size */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.loginDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.loginIcon {
  color: gray;
  margin-left: 10px;
  font-size: 22px;
  position: absolute;
}
